<h1> Status detail </h1>

<p><%= @status.user.display_name %></p>
<p><%= @status.body %></p>
<h5>Media</h5>
<!--TO DO -->

<%= link_to 'Edit status', status_edit_path(@status)%>
<%= link_to 'Back', root_path %>



